 <!--!BASE TEMPLATE FOR WHOLE PROJECT!-->
<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel=stylesheet type=text/css>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% block script %}{% endblock %}
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <!--!NAVIGATION BAR!-->
            <!--(file name, Name in nav bar)-->
            {% set navigation_bar = [
                ('mean_time_weekday.html', 'Presence by mean'),
                ('presence_start_end.html', 'Presence by start-end'),
                ('presence_weekday.html', 'Presence by weekday')
            ] %}
            {% set active_page = active_page|default('presence_start_end.html') %}
            <ul id="navigation">
                {% for id, caption in navigation_bar %}
                  <li{% if id == active_page %} id="selected"{% endif
                  %}><a href="{{id|e}}">{{ caption|e }}</a></li>
                {% endfor %}
            </ul>
            <!--============================-->
        </div>
        <div id="content">
            {% block header %}{% endblock %}
        <p>
            <select id="user_id" style="display: none">
                <option value="">--</option>
            </select>
            <div id="chart_div" style="display: none">
            </div>
            <div id="loading">
                <img src="{{ url_for('static', filename='img/loading.gif') }}" />
            </div>
        </p>
        </div>
    </div>
</body>
</html>
