<%inherit file="base.html"/>
<%!active_page = 'mean_time_weekday.html'%>
<%block name="script">
    <script src="${ url_for('static', filename='js/utils.js') }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'pl'});
    </script>
    <script type="text/javascript" src="${ url_for('static', filename='js/mean_time_weekday.js') }"></script>
</%block>
<%block name="header">
	<h2>Mean time by weekday</h2>
</%block>
